/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    min-height: 200px;
}

.timeline {
    margin-top: 00px !important;
}

.timeline--wrapper {
    margin-right: 0px !important;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.public-DraftStyleDefault-block {
    min-height: 300px;
    margin-top: 0px;
    padding: 10px;
}

.rdw-editor-main {
    background: white;
}

.rdw-editor-toolbar {
    margin-bottom: 0px;
}